* {
				margin: 0;
				padding: 0;
}
body {
				background-color: #3f3161;
}
.link {
				background-color: #eaeaff;
				max-width: 1200px;
				margin: 50px auto;
}
.link h2 {
				text-align: center;
				margin: 30px;
				color : #ededed;
				-webkit-text-stroke: 1px #36337a;
}
.link ul li {
				background: #caaaff;
				padding: 5px 20px;
				border-radius: 10px;
				list-style: none;
				text-align: center;
				margin: 10px;
}
a {
				text-decoration: none;
				text-align: center;
				font-size: 14px;
				color: #1e1060;
}
.link li:hover {
				background-color: #d4caf2;
}
